* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Corinthia:wght@400;700&family=Dancing+Script&family=IBM+Plex+Serif:wght@100&family=Luxurious+Roman&family=Mochiy+Pop+P+One&family=Montagu+Slab:wght@100&family=Montserrat:wght@300;500;800&family=Open+Sans+Condensed:wght@300&family=Playfair+Display+SC&family=Playfair+Display:wght@900&family=Raleway:wght@100&family=Roboto:wght@100&family=The+Nautigal&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100&family=Mochiy+Pop+P+One&family=Montagu+Slab:wght@100&family=Montserrat:wght@300;500;800&family=Open+Sans+Condensed:wght@300&family=Playfair+Display+SC&family=Playfair+Display:wght@900&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Corinthia&family=IBM+Plex+Serif:wght@100&family=Mochiy+Pop+P+One&family=Montagu+Slab:wght@100&family=Montserrat:wght@300;500;800&family=Open+Sans+Condensed:wght@300&family=Playfair+Display+SC&family=Playfair+Display:wght@900&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Corinthia&family=IBM+Plex+Serif:wght@100&family=Mochiy+Pop+P+One&family=Montagu+Slab:wght@100&family=Montserrat:wght@300;500;800&family=Open+Sans+Condensed:wght@300&family=Playfair+Display+SC&family=Playfair+Display:wght@900&family=Raleway:wght@100&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Corinthia:wght@400;700&family=Dancing+Script&family=IBM+Plex+Serif:wght@100&family=Luxurious+Roman&family=Mochiy+Pop+P+One&family=Montagu+Slab:wght@100&family=Montserrat:wght@300;500;800&family=Open+Sans+Condensed:wght@300&family=Playfair+Display+SC&family=Playfair+Display:wght@900&family=Raleway:wght@100&family=Roboto:wght@100&display=swap");

.wrap {
  max-width: 1900px;
  width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  position: fixed;
  margin: 0 auto;
  z-index: 9;
}

main {
  padding-top: 100px;
}

.container-menu {
  display: none;
}

.container {
  width: 100%;
  height: 100px;
  background-color: #341940;
  display: flex;
  justify-content: space-between;
}

.container img {
  width: 150px;
  cursor: pointer;
}

.navigation {
  width: 70%;
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navigation .list li a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  text-transform: capitalize;
  font-family: "Open Sans Condensed", sans-serif;
}

.navigation .list img {
  width: 30px;
}

.container-title {
  position: relative;
  top: 60px;
  display: flex;
  justify-content: center;
}

.container-title h2 {
  text-align: center;
  color: #341940;
  font-size: 3em;
  font-family: "Open Sans Condensed", sans-serif;
}

.container-man {
  width: 100%;
  height: 750px;
  background-image: url("../img/homem.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.container-man div {
  background-color: white;
  padding: 20px;
  width: 50%;
  top: 67%;
  left: 25%;
  position: relative;
}

.container-man div p {
  font-size: 1.2em;
  color: #341940;
  font-family: "Open Sans Condensed", sans-serif;
}

.box-team {
  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-team h2 {
  text-align: center;
  color: #341940;
  font-size: 3em;
  font-family: "Open Sans Condensed", sans-serif;
}

.box-devs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 80px;
}

.box-devs img {
  border-radius: 10px;
  object-fit: cover;
  width: 400px;
  height: 250px;
}

.paragraph-devs {
  cursor: pointer;
  padding: 30px;
  border: 1px solid #341940;
  box-shadow: 0px 5px 9px 0px rgba(52, 25, 64, 0.5);
  width: 50%;
  border-radius: 20px;
  transition: 0.6s all;
}

.name {
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.name h4 {
  font-family: "The Nautigal", cursive;
  font-size: 1.5em;
  color: #341940;
}

.paragraph-devs p {
  font-family: "The Nautigal", cursive;
  font-size: 1.2em;
  color: #341940;
}

footer {
  width: 100%;
}

.container-footer {
  display: flex;
  flex-direction: column;
}

.contain-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 200px;
  background-color: #341940;
}

.img-olho {
  cursor: pointer;
  width: 150px;
  transition: 1s all;
}
.img-olho:hover {
  filter: drop-shadow(rgba(47, 47, 47, 0.6) -14px 12px 1px);
}

.contain-footer h2 {
  font-size: 1.4em;
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: center;
}

.box-icons {
  display: flex;
  justify-content: space-between;
  width: 100px;
  padding: 10px;
}

.box-rights {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-insta,
.icon-face {
  cursor: pointer;
  width: 30px;
}

.box-rights p {
  font-size: 1em;
  font-family: "Open Sans Condensed", sans-serif;
  color: #341940;
  text-align: center;
}

.box-rights h2 {
  font-size: 1em;
  font-family: "Corinthia", cursive;
  color: #341940;
  text-align: center;
}

@media (max-width: 1072px) {
  .container-man div {
    left: 25%;
    width: 50%;
    overflow-y: scroll;
    height: 220px;
  }
}

@media (max-width: 900px) {
  .box-devs {
    flex-direction: column;
  }

  .box-devs img {
    width: 480px;
    height: 340px;
  }

  .paragraph-devs {
    margin-top: 50px;
    width: 485px;
  }
}

@media (max-width: 810px) {
  .container-man div {
    left: 0%;
    width: 100%;
    overflow-y: scroll;
    height: 250px;
  }

  .container-man div::-webkit-scrollbar {
    width: 1px;
  }

  .container-man div::-webkit-scrollbar-thumb {
    background-color: #341940;
  }

  .container-man div::-webkit-scrollbar-track {
    background-color: white;
  }
}

/* Inicio mobile */
@media (max-width: 750px) {
  .container-menu {
    border: none;
    padding-top: 40px;
    width: 200px;
    display: flex;
    justify-content: center;
  }

  .box-menu-mobile {
    display: block;
    margin-bottom: 20px;
  }

  #checkbox-menu {
    position: absolute;
    opacity: 0;
  }

  label {
    cursor: pointer;
    position: relative;
    display: block;
    width: 40px;
  }

  label span {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background-color: white;
    transition: 0.25s ease-in-out;
  }

  label span:nth-child(1) {
    top: 0;
  }

  label span:nth-child(2) {
    top: 8px;
  }

  label span:nth-child(3) {
    top: 16px;
  }

  #checkbox-menu:checked + label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
  }

  #checkbox-menu:checked + label span:nth-child(2) {
    opacity: 0;
  }

  #checkbox-menu:checked + label span:nth-child(3) {
    transform: rotate(45deg);
    top: 8px;
  }

  .list {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 0px;
    background-color: #341940;
    top: 100px;
    right: 0%;
    z-index: 10;
    visibility: hidden;
    overflow-y: hidden;
    transition: 0.6s;
    text-align: center;
    border-radius: 0px 0px 40px 40px;
  }

  .navigation.active .list {
    visibility: visible;
    padding: 30px 0px;
    height: 300px;
    text-align: center;
  }
  .navigation.active .list li {
    width: 100%;
    padding: 10px 0px;
  }
  .navigation.active .list li:hover {
    background-color: white;
  }
  .navigation.active .list li:hover a {
    color: #341940;
    font-weight: 500;
  }

  .navigation.active .list .list-user:hover {
    background-color: #503527;
  }

  .box-contact {
    flex-direction: column;
  }
}

@media (max-width: 520px) {
  .box-devs img {
    width: 90%;
  }

  .paragraph-devs {
    margin-top: 50px;
    width: 90%;
  }
}

@media (max-width: 280px) {
  .card {
    width: 100%;
  }
  .container-main {
    margin: 0;
    padding-top: 20px;
  }

  .box-contact {
    padding-bottom: 48px;
  }
}
