* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100&family=Mochiy+Pop+P+One&family=Montagu+Slab:wght@100&family=Montserrat:wght@300;500;800&family=Open+Sans+Condensed:wght@300&family=Playfair+Display+SC&family=Playfair+Display:wght@900&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Corinthia&family=IBM+Plex+Serif:wght@100&family=Mochiy+Pop+P+One&family=Montagu+Slab:wght@100&family=Montserrat:wght@300;500;800&family=Open+Sans+Condensed:wght@300&family=Playfair+Display+SC&family=Playfair+Display:wght@900&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Corinthia&family=IBM+Plex+Serif:wght@100&family=Mochiy+Pop+P+One&family=Montagu+Slab:wght@100&family=Montserrat:wght@300;500;800&family=Open+Sans+Condensed:wght@300&family=Playfair+Display+SC&family=Playfair+Display:wght@900&family=Raleway:wght@100&family=Roboto:wght@100&display=swap");

header {
  width: 100%;
}

.wrap-header,
.wrap-main,
.wrap-footer {
  width: 100%;
  max-width: 1900px;
  margin: 0 auto;
}

.container-header {
  position: relative;
  width: 100%;
  height: 600px;
}

.contain-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 9999999999999999999;
  width: 90%;
  height: 100px;
  left: 5%;
}

.box-logo {
  cursor: pointer;
  width: 20%;
}

.box-logo img {
  cursor: pointer;
  width: 150px;
  transition: 1s all;
}
.box-logo img:hover {
  filter: drop-shadow(rgba(47, 47, 47, 0.6) -14px 12px 1px);
}

.navigation {
  width: 70%;
}

.list {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list li a {
  transition: 0.6s all;
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  font-size: 1.2em;
  font-family: "Open Sans Condensed", sans-serif;
}
.list li a:hover {
  color: #341940;
  font-weight: 500;
}

.img-fortes {
  object-fit: cover;
  width: 100%;
  height: 500px;
  background-position: center;
}

.user {
  cursor: pointer;
  width: 30px;
}

.container-menu {
  display: none;
}

.contain-main {
  position: relative;
  display: flex;
  justify-content: space-around;
  top: 200px;
  width: 100%;
  background-color: #341940;
}

.card-1,
.card-2,
.card-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  bottom: 180px;
  width: 25%;
  height: 300px;
  background-color: white;
  border: 1px solid rgb(197, 196, 196);
  box-shadow: 0px -7px 6px -3px rgb(197 196 196);
}

.box-lupa,
.box-som,
.box-graphic {
  padding-top: 10%;
  width: 90%;
  margin: 0 auto;
}

.box-text-1,
.box-text-2,
.box-text-3 {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.box-text-1 h2,
.box-text-2 h2,
.box-text-3 h2 {
  color: #341940;
  font-size: 1.6em;
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
}

.box-btn {
  display: flex;
  justify-content: center;
}

.box-btn button {
  text-transform: capitalize;
  width: 150px;
  padding: 4%;
  border-radius: 10px;
  border: 2px solid #341940;
  color: #341940;
  font-size: 1.3em;
  top: 97%;
  cursor: pointer;
  position: absolute;
  font-family: "Open Sans Condensed", sans-serif;
  transition: 1s all;
}
.box-btn button:hover {
  color: white;
  border: 1px solid white;
  transition: 0.5s;
  background-color: #341940;
}

.btnVerificar {
  text-transform: capitalize;
  width: 150px;
  padding: 4%;
  border-radius: 10px;
  border: 2px solid #341940;
  color: #341940;
  font-size: 1.3em;
  top: 97%;
  left: 30%;
  cursor: pointer;
  position: absolute;
  font-family: "Open Sans Condensed", sans-serif;
  transition: 1s all;
}

.box-lupa img,
.box-som img,
.box-graphic img {
  width: 40px;
}

.contain-map {
  margin-top: 20%;
  margin-bottom: 5%;
  background-color: #341940;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.box-img-map {
  display: flex;
  align-items: center;
  justify-content: right;
  position: relative;
  left: 98px;
  width: 28%;
  height: 400px;
  background-color: white;
}

.box-img-map img {
  cursor: pointer;
  filter: drop-shadow(rgba(151, 149, 149, 0.6) -14px 12px 1px);
  left: 20%;
  position: absolute;
  width: 100%;
}

.box-text-map {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
  height: 400px;
}

.box-text-map h4 {
  padding-top: 50px;
  overflow-y: scroll;
  width: 60%;
  height: 950px;
  color: #341940;
  font-size: 1.6em;
  font-family: "Open Sans Condensed", sans-serif;
}

.box-text-map h4::-webkit-scrollbar {
  width: 1px;
}

.box-text-map h4::-webkit-scrollbar-thumb {
  background-color: #341940;
}

.box-text-map h4::-webkit-scrollbar-track {
  background-color: white;
}

.contain-btn button {
  text-transform: capitalize;
  background-color: white;
  width: 180px;
  padding: 5%;
  border-radius: 10px;
  border: 2px solid #341940;
  color: #341940;
  font-size: 1.3em;
  cursor: pointer;
  font-family: "Open Sans Condensed", sans-serif;
  transition: 1s all;
}
.contain-btn button:hover {
  color: white;
  border: 1px solid white;
  background-color: #341940;
}
@media (max-width: 662px) {
  .contain-btn {
    margin-top: 10%;
  }
}

footer {
  width: 100%;
}

.container-footer {
  display: flex;
  flex-direction: column;
}

.contain-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 200px;
  background-color: #341940;
}

.img-olho {
  cursor: pointer;
  width: 150px;
  transition: 1s all;
}
.img-olho:hover {
  filter: drop-shadow(rgba(47, 47, 47, 0.6) -14px 12px 1px);
}

.contain-footer h2 {
  font-size: 1.4em;
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: center;
}

.box-icons {
  display: flex;
  justify-content: space-between;
  width: 100px;
  padding: 10px;
}

.box-rights {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-insta,
.icon-face {
  cursor: pointer;
  width: 30px;
}

.box-rights p {
  font-size: 1em;
  font-family: "Open Sans Condensed", sans-serif;
  color: #341940;
  text-align: center;
}

.box-rights h2 {
  font-size: 1em;
  font-family: "Corinthia", cursive;
  color: #341940;
  text-align: center;
}

.js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
}

.js-scroll.ativo {
  opacity: 1;
  transition: 3s all;
  transform: translate3d(0, 0, 0);
}

/*Inicio telas maiores */
@media (min-width: 1396px) {
  .box-img-map {
    left: 8%;
    width: 28%;
    height: 400px;
  }
}

@media (min-width: 1500px) {
  .card-1,
  .card-2,
  .card-3 {
    bottom: 180px;
    width: 25%;
    height: 380px;
  }

  .box-img-map {
    width: 28%;
    height: 400px;
  }

  .box-img-map img {
    left: 30%;
    width: 80%;
  }

  .list li a {
    font-size: 1.3em;
  }

  .box-text-1 h2,
  .box-text-2 h2,
  .box-text-3 h2 {
    font-size: 1.8em;
  }
}

@media (min-width: 1600px) {
  .card-1,
  .card-2,
  .card-3 {
    bottom: 180px;
    width: 25%;
    height: 420px;
  }
  .box-img-map {
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    width: 28%;
    height: 400px;
    background-color: white;
  }

  .box-img-map img {
    cursor: pointer;
    filter: drop-shadow(rgba(151, 149, 149, 0.6) -14px 12px 1px);
    left: 35%;
    position: absolute;
    width: 75%;
  }
  .list li a {
    font-size: 1.5em;
  }

  .box-text-1 h2,
  .box-text-2 h2,
  .box-text-3 h2 {
    font-size: 2em;
  }
}
/* Fim telas maiores */

/* Inicio mobile */
@media (max-width: 750px) {
  .container-header {
    height: 220px;
  }

  .img-fortes {
    object-fit: cover;
    width: 100%;
    height: 380px;
    background-position: center;
  }

  .list {
    display: none;
  }

  .contain-header {
    width: 95%;
    height: 70px;
  }

  .container-menu {
    border: none;
    background-color: white;
    padding: 25px;
    width: 200px;
    display: flex;
    justify-content: center;
  }

  .box-menu-mobile {
    display: block;
    margin-bottom: 20px;
  }

  #checkbox-menu {
    position: absolute;
    opacity: 0;
  }

  label {
    cursor: pointer;
    position: relative;
    display: block;
    width: 40px;
  }

  label span {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background-color: #503527;
    transition: 0.25s ease-in-out;
  }

  label span:nth-child(1) {
    top: 0;
  }

  label span:nth-child(2) {
    top: 8px;
  }

  label span:nth-child(3) {
    top: 16px;
  }

  #checkbox-menu:checked + label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
  }

  #checkbox-menu:checked + label span:nth-child(2) {
    opacity: 0;
  }

  #checkbox-menu:checked + label span:nth-child(3) {
    transform: rotate(45deg);
    top: 8px;
  }

  .contain-main {
    background-color: white;
    flex-direction: column;
    align-items: center;
    height: 1736px;
  }

  .card-1,
  .card-2,
  .card-3 {
    bottom: 0px;
    width: 70%;
    height: 480px;
    z-index: 9;
    border-radius: 20px;
    box-shadow: none;
  }

  .contain-map {
    flex-direction: column;
    margin-top: 40%;
  }

  .box-img-map {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    left: 25%;
    width: 50%;
    height: 300px;
  }

  .box-img-map img {
    filter: drop-shadow(rgba(22, 22, 22, 0.6) -14px 12px 1px);
    left: -30%;
    position: absolute;
    width: 80%;
  }

  .box-text-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 421px;
  }

  .box-text-map h4 {
    width: 80%;
  }

  .list {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 90%;
    height: 0px;
    background-color: #503527;
    top: 75px;
    right: 5%;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
    transition: 0.6s;
    text-align: center;
    border-radius: 20px;
  }

  .navigation.active .list {
    visibility: visible;
    padding: 30px 0px;
    height: 300px;
    text-align: center;
  }
  .navigation.active .list li {
    width: 100%;
    padding: 10px 0px;
  }
  .navigation.active .list li:hover {
    background-color: white;
  }
  .navigation.active .list li:hover a {
    color: #341940;
    font-weight: 500;
  }

  .navigation.active .list .list-user:hover {
    background-color: #503527;
  }

  .box-text-1 h2,
  .box-text-2 h2,
  .box-text-3 h2 {
    font-size: 2em;
  }
}

@media (max-width: 471px) {
  .box-text-1,
  .box-text-2,
  .box-text-3 {
    width: 100%;
  }

  .box-text-1 h2,
  .box-text-2 h2,
  .box-text-3 h2 {
    font-size: 1.6em;
  }

  .contain-main {
    height: 1550px;
    top: 165px;
  }

  .card-1,
  .card-2,
  .card-3 {
    width: 70%;
    height: 417px;
  }
}

@media (max-width: 425px) {
  .box-img-map img {
    width: 100%;
    bottom: 10%;
    left: -50%;
  }
}

@media (max-width: 320px) {
  .container-menu {
    width: 100px;
  }

  .box-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 38%;
  }

  .box-logo img {
    width: 115px;
  }

  .box-text-1,
  .box-text-2,
  .box-text-3 {
    width: 100%;
  }

  .box-text-1 h2,
  .box-text-2 h2,
  .box-text-3 h2 {
    font-size: 1.6em;
  }

  .contain-main {
    top: 160px;
    height: 1400px;
  }

  .card-1,
  .card-2,
  .card-3 {
    width: 80%;
    height: 350px;
  }
}

@media (max-width: 287px) {
  .box-text-map {
    height: 300px;
  }

  .box-text-map h4 {
    font-size: 1em;
  }
}

@media (max-width: 240px) {
  .container-menu {
    width: 30%;
  }

  label {
    margin-left: 10px;
  }

  label span {
    width: 60%;
  }

  .box-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 38%;
  }

  .box-logo img {
    width: 115px;
  }

  .contain-main {
    height: 1000px;
  }

  .box-text-1 h2,
  .box-text-2 h2,
  .box-text-3 h2 {
    font-size: 1em;
  }

  .card-1,
  .card-2,
  .card-3 {
    width: 80%;
    height: 250px;
  }

  .box-btn button {
    font-size: 1em;
    padding: 3%;
    width: 95%;
  }

  .box-text-map {
    height: 368px;
  }

  .contain-btn {
    width: 80%;
  }

  .contain-btn button {
    font-size: 1em;
    padding: 2%;
    width: 100%;
  }
}

@media (max-width: 185px) {
  .box-text-map h4 {
    overflow-y: scroll;
    height: 200px;
  }
}
