@model CorDosOlhos.Models.Cadastro;
@{

    ViewData["Title"] = "Cadastro";
    var Cadastros = ViewData["Cadastros"] as List<Cadastro>;




}



<div class="container">
    <br />
    <br />
    <br />
    <div id="contato">
        <form asp-action="Index" class="card">
            <div class="card-content">
                <!--msm nome public IActionResult Incluir(Clie-->
                <div class="form-row">

                    <div class="card-content-area form-group col-md-6">
                        <label class="titulo-form" for"">Nome</label>
                        <input asp-for="NomeC" type="text" class="form-control" id="" placeholder="Larissa">
                    </div>

                    <div class="card-content-area form-group col-md-6 ">
                        <label class="titulo-form" for"">Sobrenome</label>
                        <input asp-for="SobrenomeC" type="text" class="form-control" id="">
                    </div>

                    <div class="card-content-area form-group col-md-6">
                        <label class="titulo-form" for"">Data nascimento</label>

                        <input asp-for="NasC" type="date" class="form-control" id="">
                    </div>
                    <div class="card-content-area form-group col-md-6">
                        <label class="titulo-form" for"">CPF</label>
                        <input asp-for="CPFC" type="text" class="form-control" id="" placeholder="Digite apenas números">
                    </div>
                    <div class="card-content-area form-group col-md-3">
                        <label class="titulo-form" for="">Etnia</label>
                        <select class="custom-select" asp-for="Etnia">
                            <option selected>-- Selecione uma opção</option>
                            <option>Branco</option>
                            <option>Preto</option>
                            <option>Pardo</option>
                            <option>Amarelo</option>
                            <option>Indígena</option>

                        </select>
                    </div>
                    <div class="card-content-area form-group col-md-3">
                        <label class="titulo-form" for="">Genero</label>
                        <select class="custom-select" asp-for="Genero">
                            <option selected>-- Selecione uma opção</option>
                            <option>Masculino</option>
                            <option>Feminino</option>
                            <option>Outro</option>


                        </select>
                    </div>
                    <div class="card-content-area form-group col-md-6">
                        <label class="titulo-form" for"">Cidade</label>
                        <input asp-for="CidadeC" type="text" class="form-control" id="">
                    </div>
                    <div class="card-content-area form-group col-md-6">
                        <label class="titulo-form" for"">UF</label>
                        <input asp-for="UFC" type="text" class="form-control" id="">
                    </div>
                    <div class="card-content-area form-group col-md-6">
                        <label class="titulo-form" for"">CEP</label>
                        <input asp-for="CEPC" type="text" class="form-control" id=""  placeholder="Digite apenas números">
                    </div>
                    <div class="card-content-area form-group col-md-6">
                        <label class="titulo-form" for"">Bairro</label>
                        <input asp-for="BairroC" type="text" class="form-control" id="">
                    </div>
                    <div class="card-content-area form-group col-md-6">
                        <label class="titulo-form" for"">Endereco</label>
                        <input asp-for="EnderecoC" type="text" class="form-control" id="">
                    </div>
                    <div class="card-content-area form-group col-md-6">
                        <label class="titulo-form" for"">Número</label>
                        <input asp-for="NumeroC" type="text" class="form-control" id="">
                    </div>
                    <div class="card-content-area form-group col-md-6">
                        <label class="titulo-form" for"">Telefone</label>
                        <input asp-for="TelefoneC" type="text" class="form-control" id="">
                    </div>
                    <div class="card-content-area form-group col-md-6">
                        <label class="titulo-form" for"">E-mail</label>
                        <input asp-for="EmailC" type="email" class="form-control" id="" placeholder="exemplo@gmail.com">
                    </div>
                    <div class="card-btn">
                        <button type="submit" class="btn btn-outline-dark">Enviar</button>
                        <a asp-controller="Editarcadastro" asp-action="Index"><button type="button" class="btn btn-outline-dark">Editar</button></a>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>