@model CorDosOlhos.Models.Contato;
@{
    ViewData["Title"] = "Contato";
    var Contatos = ViewData["Contatos"] as List<Contato>;

}


<form asp-action="Index">
    <div class="shadow-lg  p-3 mb-5 bg-white rounded mx-auto" style=" margin-top: 10%; color: #000; ">
        <!--msm nome public IActionResult Incluir(Clie-->
        <div class="form-row">

            <div class="form-group col-md-6">
                <label for"">Nome Completo</label>
                <input asp-for="NomeContato" type="text" class="form-control" id="" placeholder="Larissa">
            </div>

            <div class="form-group col-md-6">
                <label for"">Email Contato</label>
                <input asp-for="EmailContato" type="email" class="form-control" id="" placeholder="exemplo@gmail.com">
            </div>

            <div class="form-group col-md-6">
                <label for"">MsgContato</label>

                <textarea asp-for="MsgContato" type="text" class="form-control" rows="5" id="comment"></textarea>
            </div>

            <div class="">
                <button type="submit" class="btn btn-outline-dark">Enviar</button>
                <a asp-controller="Editarcontato" asp-action="Index"><input type="button" class="btn btn-outline-dark" value="Editar"></a>
            </div>
        </div>
    </div>
</form>
<!---->
