@model CorDosOlhos.Models.Contato;
@{
    ViewData["Title"] = "Contato";
    var Contatos = ViewData["Contatos"] as List<Contato>;

}



<main>
    <section class="wrap">
        <div class="container-main">
            <div id="contato">
                <form class="card"  asp-action="Index">
                    <div class="card-header">
                        <h2>Entre em contato</h2>
                    </div>
                    <div class="card-content">
                        <div class="card-content-area">
                            <label class="titulo-form" for"">Nome Completo</label>
                            <input asp-for="NomeContato" type="text" class="form-control" id="" placeholder="Larissa">
                        </div>
                        <div class="card-content-area">
                            <label class="titulo-form" for"">Email Contato</label>
                            <input asp-for="EmailContato" type="email" class="form-control" id="" placeholder="exemplo@gmail.com">
                        </div>
                        <div class="card-content-area">
                            <label class="titulo-form" for"">MsgContato</label>

                            <textarea asp-for="MsgContato" type="text" class="form-control" rows="3" id="comment"></textarea>
                        </div>
                    </div>
                    <div class="card-btn">
                        <button type="submit" class="btn btn-outline-dark">Enviar</button>
                        <a asp-controller="Editarcontato" asp-action="Index"><button type="button" class="btn btn-outline-dark" >Editar</button></a>
                    </div>
                </form>
            </div>
            <div class="box-contact">
                <img src="../img/outline_mark_as_unread_black_24dp.png" alt="mensagem">
                <p>cordosolhos@gmail.com</p>
            </div>
        </div>
    </section>
</main>

''
