@{
    ViewData["Title"] = "Graficos";
}
<link rel="shortcut icon" href="img/logo.png" type="image/x-icon">

<section class="gb">
    <section class="grafico">
        <div class="title">
            <h1 class="h1gb">Nossos Gráficos</h1>
        </div>
        <div class="graficobox">
            <img class="img-grafico" src="../img/grafico.png" alt="Gráficos">
            <h2 class="hgb">Aqui você poderá verificar em porcentagem, a percepção das pessoas que transitam, moram ou trabalham em determinados bairros e suas percepções sobre injúria racial e racismo. </h2>
        </div>
        <h2 style=" color:#341940">índice de Pessoas que sofreram racismo</h2>
        <img style="width:80%" class="img-fortes" src="~/img/grafico1.png" alt="grafico ato de racismo">
        <h2 style="color:#341940">índice de Pessoas que precensiaram </h2>
        <img style="width:80%" class="img-fortes" src="~/img/grafico2.png" alt="grafico pessoas que precensiaram">
        <h2 style=" color:#341940">Zona sul</h2>
        <img style="width:80%" class="img-fortes" src="~/img/grafico3-sul.png" alt="zona sul">
        <h2 style=" color:#341940">Zona norte</h2>
        <img style="width:80%" class="img-fortes" src="~/img/grafico14.png" alt="zona norte">
    </section>
</section>
