<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CorDosOlhos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
</head>
<body>

    <!--topo site -->
    <header>
        <section class="wrap">
            <section class="topo">
                <img src="../img/logoNomeBranco.png" alt="logo-white">
                <nav class="navigation nav">
                    <ul class="list">
                        <li><a asp-controller="Home" asp-action="Index">home</a></li>
                        <li><a asp-controller="Contato" asp-action="Index">contato</a></li>
                        <li><a asp-controller="Home" asp-action="Sobre">sobre</a></li>
                        <li><a asp-controller="Registro" asp-action="Index">registrar</a></li>
                        <li><a asp-controller="Consultar" asp-action="Consultar">consultar</a></li>
                        <li><a asp-controller="Cadastro" asp-action="Index"><img class="img-user" src="../img/user_(1).png" alt="user"></a></li>
                    </ul>
                </nav>
                <div class="topo-menu">
                    <div class="box-menu-mobile">
                        <input type="checkbox" id="checkbox-menu">
                        <label for="checkbox-menu" id="btn-mobile">
                            <span></span>
                            <span></span>
                            <span></span>
                        </label>
                    </div>
                </div>
            </section>
        </section>
    </header>
    <!--fim topo site-->










    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <section class="rodape">
            <section class="rodape-footer">
                <div class="rodapee-footer">
                    <img class="img-olho" src="~/img/logo-white.png" alt="logo">
                    <h2>Permaneça conectado</h2>
                    <div class="boxx-icons">
                        <img class="icon-insta" src="~/img/instagram.png" alt="Instagram">
                        <img class="icon-face" src="~/img/facebook.png" alt="Facebook">
                    </div>
                </div>
                <div class="boxx-rights">
                    <p> ©todos os direitos reservados cor dos olho Squad 47</p>
                </div>
            </section>
        </section>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
